$primary-color:#E7E7FF;
$white: #FFFFFF;
$secondary-color:#8477C9;
$black:#000000;
$gray:#ccc;
$disable-color:#E4E4E4;
$dark-disable-color:#848484;
$light-gray-1:#a4a4a4;
$light-gray-2:#a1a1a1;
$white-1: #fafafa;
$white-2:#e7e7ff;
$white-3:#f7f7f7;
$white-4:#e7e6ff;